* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiButton-startIcon {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.todos-container {
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding: 20px;
  grid-column-end: span 3;
  display: flex;
  justify-content: center;
}

.todo-input {
  width: calc(100% - 3px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.todo-input:focus {
  border-color: #76c7c0;
  outline: none;
}

.select-filter {
  width: 15%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px;
}



.filter-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.filter-input:focus {
  border-color: #0e3b38;
  outline: none;
}


.items-container {
  width: 50vw;
  display: flex;
  flex-direction: column-reverse;
}

h1 {
  margin-top: 1.6rem;
  margin-right: 3rem;
  text-align: center;
  color: #333;
  grid-column-start: span 3;
  margin-bottom: 20px;
}

.form-todo {
  display: flex;
  justify-content: flex-end;
}




.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
  height: 20px;
}

.progress-bar-fill {
  background-color: #76c7c0;
  height: 100%;
  transition: width 0.3s;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

button:focus {
  outline: none;
  background-color: #1e7e34;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li.completed {
  text-decoration: line-through;
  color: #999;
}

ul li button {
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  width: 15vw;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

ul li button:hover {
  background-color: #c82333;
}

ul li button:focus {
  outline: none;
  background-color: #bd2130;
}

.filter-todos {
  width: 40vw;
  padding: 1.5rem;
}

.filter-container {
  display: flex;
}

.filter-todos button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-todos button:hover {
  background-color: #0056b3;
}

.filter-todos button:focus {
  outline: none;
  background-color: #004085;
}

.add-btn {
  background-color: green;
}

.ul-filter {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.ul-filter li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  transition: background 0.3s;
  justify-content: flex-start;
}

.ul-filter li:hover {
  background: #e2e2e2;
}

.ul-filter li span {
  font-weight: bold;
}

.ul-filter li.completed {
  text-decoration: line-through;
  color: #888;
}

.ul-filter li.completed::before {
  color: #32cd32;
}


input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #060000;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}


input[type="checkbox"]:checked {
  background-color: #2196F3;
}


input[type="checkbox"]:checked::after {
  content: '\2714';
  display: block;
  text-align: center;
  line-height: 1.4;
  color: white;
  font-size: 12px;
}

.statistics-filter-container {
  display: flex;
  gap: 27rem;
}

.total-todos {
  font-size: 20px;
  font-weight: bold;
  color: #630457;
  margin: 10px;
  align-self: center;
}

.search-input-div {
  padding-top: 1rem;
}

.search-input {
  background-image: url('./assets/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 1rem;

}

.todo-statistics {
  margin-left: 2rem;
  width: 20rem;
}



/* Responsive Design
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  input[type="text"] {
    width: calc(100% - 20px);
  }
} */